{% extends 'base.html.twig' %}

{% block body %}
    <twig:Title>About</twig:Title>
    <twig:Center>
        <div class="about-md w-1/2 text-start">
            {{ about|default('')|markdown_to_html }}
        </div>
    </twig:Center>
{% endblock %}
