{% extends 'base.html.twig' %}

{% block body %}

    <div class="mt-20 grid justify-items-center">
        <div class="w-2/3">
            <h1>About</h1>

            <div>

            </div>

            <div>

            </div>
        </div>

    </div>
{% endblock %}
