<footer class="bg-gray-800 mt-20">
  <div class="bg-gray-800 mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8">

    <twig:Footer:Newsletter />

    <div class="mt-16 border-t border-gray-600 pt-8">
      <p class="text-center text-xs/relaxed text-gray-500">
        © Global Project Database 2024. All rights reserved.
      </p>
    </div>
  </div>
</footer>
