{% extends 'base.html.twig' %}

{% block body %}
<turbo-frame
        id="modal"
        class="aria-busy:opacity-10 transition-opacity"
{#        data-turbo-form-redirect="true"#}
{#        target="_top"#}
>
    <div class="text-gray-600 space-y-4">
        <div class="flex justify-between items-center">
            <h2 class="text-xl font-bold text-gray-600">Create new Project</h2>

            <form method="dialog">
                <button class="text-lg absolute top-5 right-5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4" viewBox="0 0 24 24" stroke-width="2"
                         stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M18 6l-12 12"/>
                        <path d="M6 6l12 12"/>
                    </svg>
                </button>
            </form>

        </div>

        {{ form_start(form) }}

        {{ form_row(form.name, {
            'error_item_class': 'text-red-700 text-xs bg-red-100 px-2 py-1 rounded-md',
        }) }}

        <div class="flex justify-end">
            <twig:Button tag="button">Create</twig:Button>
        </div>

        {{ form_end(form) }}

    </div>
</turbo-frame>
{% endblock %}
