{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.description[0]|default('')|u.truncate(100, '...') }}</td>
                        <td><a href="{{ path('app_project_details', {'id': project.id}) }}">Show</a></td>
                    </tr>
                {% endfor %}
        </table>

         <div style="text-align: center">
             {{ pagerfanta(projects) }}
         </div>
    </div>
{% endblock %}
