<div class="w-full flex">

        <div class="w-1/2 flex items-center justify-end mr-10">
            <strong class="block text-end text-lg font-bold text-gray-400">
                Want us to email you with the latest news?
            </strong>
        </div>

        <div class="w-1/2">
            <form>
                <div class="relative max-w-lg">
                    <label class="sr-only" for="email"> Email </label>

                    <input
                            class="w-full rounded-full border-gray-200 bg-gray-100 p-4 pe-32 text-sm font-medium"
                            id="email"
                            type="email"
                            placeholder="john@doe.com"
                    />

                    <button
                            class="absolute end-1 top-1/2 -translate-y-1/2 rounded-full bg-blue-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-blue-700"
                    >
                        Subscribe
                    </button>
                </div>
            </form>
        </div>

</div>
