{% extends 'base.html.twig' %}

{% block body %}
    <twig:Center>
        <div class="w-1/2">
            <div class="mt-10">
                <h3>{{ project.name }}</h3>
                <h4>Landing page configuration</h4>
            </div>

            <div class="flex">
                <div class="landing-page w-full mt-10">
                    {% if form %}
                        {{ include('settings/_form.html.twig') }}
                    {% endif %}
                </div>

                <aside class="landing-page-aside ml-10 flex-shrink-0">
                    {{ include('settings/_aside.html.twig') }}
                </aside>
            </div>
        </div>
    </twig:Center>
{% endblock %}
