<div class="flex flex-col">
    <div>
        <a href="/"
           class="flex items-center space-x-3 rtl:space-x-reverse hover:text-blue-500">
           <span
            class="header-name self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
           >{% block content %}{% endblock %}</span>

        </a>
   </div>
   <div class="text-red-400 text-xs self-end">
        version 0.1 ALFA
    </div>
</div>