<a href="/"
   class="flex items-center space-x-3 rtl:space-x-reverse hover:text-blue-500">
   <span
           class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
    >{% block content %}{% endblock %}</span>
</a>
