{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex-none">
        <div class="flex justify-center">
            <div class="text-gray-400 text-2xl mt-20">
                Resource not found
            </div>
        </div>
    </div>

{% endblock %}
