
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user == project.owner %}
    <div class="mb-10 text-end">
        <a href="{{ path('app_home', {id: project.id}) }}" class="bg-blue-500 px-4 py-2 text-white rounded-md">Edit</a>
    </div>
{% endif %}

<div class="mb-5 markdown">{{ project.description|markdown_to_html }}</div>


{#<div>#}
{#    <textarea id="md-editor" name="description" class="form-control" rows="10">{{ project.description }}</textarea>#}

{#    <script>#}
{#        const simplemde = new SimpleMDE({#}
{#            element: document.getElementById("md-editor"),#}
{#            toolbar: [#}
{#                "bold", "italic", "heading", "|",#}
{#                "quote", "unordered-list", "ordered-list", "|",#}
{#                "link", "table", "|",#}
{#                "guide"#}
{#            ]#}
{#        });#}
{#    </script>#}
{#</div>#}
