
<div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user == project.owner %}
        <div class="mb-10 text-end">
            <a href="{{ path('app_home', {id: project.id}) }}" class="bg-blue-500 px-4 py-2 text-white rounded-md">Edit</a>
        </div>
    {% endif %}

    <ul>
        {% for link in project.links %}
            <li>{{ link.name }}: <a href="{{ link.url }}">{{ link.url }}</a></li>
        {% endfor %}
    </ul>
</div>
