
<div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user == project.owner %}
        <div class="mb-10 text-end">
            <twig:Button href="{{ path('app_project_details', {
                    id: project.id,
                    tab: 'links',
                    edit: true,
                }) }}"
            >Edit</twig:Button>
            {#                data-turbo-frame="modal"#}
        </div>
    {% endif %}

    <div class="">
        {% for link in project.links %}
            <div class="grid grid-cols-10 mb-5">
                <div class="col-span-3 text-end mr-2">{{ link.name }}</div>
                <div class="col-span-7">
                    <a href="{{ link.url }}" class="text-blue-400 hover:underline">{{ link.url }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
