{% extends 'base.html.twig' %}

{% block body %}

    <h3>{{ project.name }}</h3>

    {% if project.description is not null %}
        {% for paragraph in project.description %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
