{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex item-center mt-20">
        <div class="m-auto max-w-prose">
            <h3>{{ project.name }}</h3>

            <div class="mb-10">
                {{ include('project_details/_tabs.html.twig') }}
            </div>

            {% if project.description is not null %}
                {% for paragraph in project.description %}
                    <p class="mb-5">{{ paragraph }}</p>
                {% endfor %}
            {% endif %}

            <div class="mt-10 mb-10">
                <span class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    Project tags:
                </span>
            </div>

        </div>
    </div>
{% endblock %}
