{% extends 'base.html.twig' %}

{% block body %}
    <twig:Title>Project</twig:Title>
    <twig:Center class="min-h-96">
        <div class="w-1/2">

            <h3 class="project-name">{{ project.name }}</h3>

            <div class="mt-10 mb-10">
                {{ include('project_details/_tabs.html.twig') }}
            </div>

            {{ include('project_details/' ~ template ~ '.html.twig') }}

            {#            <div class="mt-10 mb-10"> #}
            {#                <span class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"> #}
            {#                    Project tags: #}
            {#                </span> #}
            {#            </div> #}

        </div>
    </twig:Center>
{% endblock %}
